* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  background: linear-gradient(to right, #000428, #004e92);
  max-width: 100%;
  min-height: 100vh;
  margin-left: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  font-family: "Inconsolata", monospace;
}

.title_1 {
  font-size: 30px;
  color: whitesmoke;
  font-weight: 800;
}

.sub-title {
  padding: 1%;
  font-size: 20px;
  color: #f1dfd1;
  font-weight: 400;
}

h2 {
  width: 1px;
  height: 0.5px;
  color: black;
}

.countersInputContainer {
  max-width: 1150px;
  margin: 0 auto;
}
.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Inconsolata", monospace;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.words {
  flex: 2;
  text-align: center;
  padding: 2%;
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}

.characters {
  flex: 2;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid #f1dfd1;
  border-right: 1px solid #f1dfd1;
  padding: 2%;
  font-weight: 500;
  color: whitesmoke;
}

.charExSpaces {
  flex: 2;
  text-align: center;
  padding: 2%;
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}

.input-container {
  height: 200px;
  background-color: white;
}
.input {
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(9, 33, 63, 0.767);
  caret-color: rgba(9, 33, 63, 0.767);
  padding: 0.5%;
  outline: none;
  font-family: "Inconsolata", monospace;
}

@media (max-width: 1160px) {
  .words,
  .characters,
  .charExSpaces {
    font-size: 70%;
  }

  .title_1{
    font-size: 20px;
  }
  .sub-title {
    font-size: 10px;
  }

  .input-container {
    height: 70%;
  }

  .countersInputContainer{
    margin: 0 auto;
}
}
